table, td, th,tr {
    border: 2px solid black;
}

table {
	border-collapse:collapse;
    width: 60%;

}

th {
    text-align: left;
    padding: 10px;
}
td {
    text-align: left;
    padding: 10px;
}
tr {
    text-align: left;
    padding: 10px;
}